/* CSS (Custom Styles) */


body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


h2, h3 {
  font-family: 'Bebas Neue';
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar a {
  font-family: "Bebas Neue";
  font-size: 1.5rem;
  color: white;
}

.navbar a:hover {
  color: #A3B4A2;
}

.navbar-with-background .navbar-nav .nav-link.active,
.navbar-with-background .navbar-nav .nav-link:active {
  color: lightgrey !important;
}


.navbar {
  background-color: #00000091;
}

.navbar button {
  background-color: rgb(255, 255, 255);
}

.custom-divider {
  border-top: 1px solid #fff;
  margin: 20px 0;
}

.logo {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}

.coding-divider i {
  color: #fff;
}

.coding-divider {
  text-align: center;
  margin: 20px 0;
  font-size: 24px;
  color: #fff;
}


.coding-divider::before,
.coding-divider::after {
  content: '';
  display: inline-block;
  margin-bottom: 15px;
  width: 20%;
  height: 5px;
  background-color: #fff;
}

.coding-divider::before {
  margin-right: 10px;
  
}

.coding-divider::after {
  margin-left: 10px;
}

.coding-divider1 i {
  color: white;
  margin-top: 5px;
}

.coding-divider1 {
  text-align: center;
  margin: 20px 0;
  font-size: 24px;
  color: #fff;
  margin-top: 5px;
}

.job-position {
  margin-top: 70px;
}

.coding-divider1::before,
.coding-divider1::after {
  content: '';
  display: inline-block;
  width: 20%;
  margin-bottom: 15px;
  height: 4px;
  background-color: #fff;
}

.coding-divider1::before {
  margin-right: 10px;
}

.coding-divider1::after {
  margin-left: 10px;
}

.clickable-image:hover {
  transform: scale(1.05); /* Increase the size slightly on hover */
  transition: transform 0.2s; /* Add a smooth transition effect */
  cursor: pointer; /* Change the cursor to a pointer hand */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle shadow on hover */
}



/* .card {
  border: none;
  background-color: #7E8D85;
} */

.card-title {
  color: black;
}

.hyper-links {
  display: flex;
  gap: 10px;
  color: #fff;
}

.hyper-links i {
  color: #fff;
}

  
.features li {
  margin: 10px;
}

.hand {
  color: black;
}

.bu {
  color: #000000;
}

.card-body a {
  color: white;
}

#projects {
  background-color: transparent;
  margin-top: 0%;
  
}



#skills {
  margin-top: -3%;
}



#projects h2 {
  color: white;
}

/* VideoModal.css */

/* Overlay styles */
.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Content styles */
.ReactModal__Content {
  position: relative;
  background-color: transparent; /* Make the background transparent */
  border: none; /* Remove border */
  box-shadow: none; /* Remove box shadow */
  outline: none;
  padding: 20px;
  width: 100%; /* Adjust the width as needed */
  max-width: 700px; /* Maximum width of the modal */
}

/* Close button styles */
.ReactModal__CloseButton {
  position: absolute;
  top: -2px;
  right: 10px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 16px;
  color: #000000; /* Change the close button color to white */
}

/* Add any additional styles as needed */


.hero {
  height: 100vh;
}

.hero2 {
  margin-top: 5%;
}


.profile-pic {
  margin-top: 10%; /* Adjust the value as needed */
}

/* Your CSS stylesheet */
.btn-custom {
  background-color: #7E8D85; /* Set the background color to #7E8D85 */
  color: #fff; /* Set the text color to white */
  border-color: #000000; /* Set the border color to #7E8D85 */
}

.btn-custom:hover {
  background-color: #6C7A70; /* Change the background color on hover to a slightly darker shade */
  border-color: #6C7A70; /* Change the border color on hover to a slightly darker shade */
}

/* #skills {
  background-color: #7E8D85;
} */

#skills h1 {
  color: white;
}

.navbar-toggler {
  background-color: #7E8D85;
}

.navbar-collapse {
  display: flex;
  justify-content: end;
}

.mobile-icon {
  display: none;
}

.resume-download button {
  background-color: white;
}

.proj-home {
  margin-top: 20%;
}



/* CSS for mobile view (max-width: 768px) */
@media (max-width: 768px) {
  .mobile-icon {
    display: inline; /* Display the icons in mobile view */
  }
  
  .hero2 {
    margin-top: 34%;
  }

  #projects {
    margin-top: 0%;
  }

  .proj-home {
    margin-top:75%;
  }
  
  .skillz li {
    width: 100%;
  }

  .ReactModal__Content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: auto;
    width: 90%;
  }

  .video-container {
    width: 100%; /* Adjust the width as needed for mobile */
  }

  .video-container iframe {
    width: 100%; /* Make the iframe width 100% for mobile */
  }

  
}
